<!--<div class="header"  id="loginDiv">
    <div class="container">
        <div class="row">
				<div class="col-sm-12">
					<a href="#"><img src="images/logo.png" alt="Exareach" title="Exareach"></a>
					<a href="javascript:void(0)" class="welcome_creator"><img title="Logout" alt="Logout" src="images/logout.png" ng-click="logout()"></a><a title="Change Password" href="javascript:void(0)" class="welcome_creator" ui-sref="change_pass">Change Password </a>
					<span class="welcome_creator">Welcome {{username}}</span>
				</div>
			</div>
    </div>
</div>-->
<div class="col-sm-12">
<div class="row">
    <div class="col-sm-12 intro-content">
        Select Conversation for which you want to assign the creative exposure
        <div class="select-holder">
            <select id="campaignlist" ng-options="field.name for field in campaign_names track by field.refCode" ng-model="choice" ng-change="get_campaign_meta(choice)">
            	<option value="" disabled>Select Option</option>
            </select>
		</div>
	</div>
</div>

<div ng-if="temp!=null">
	<div class="row">
		<div class="col-sm-12 sdn_style">
			<h3 class="text-left">{{campaign_name}}</h3>
			<p class="text-left">{{campaign_description}}</p>
		</div>
	</div>
	<div class="choice {{settEnable}}"></div>
	<div class="row form-inline">
		<div class="col-md-12">
			<div class="col-md-12 detailsummary section-border" style="padding-bottom: 20px; padding-top: 23px;">
				<div class="col-md-3 cc-bor">
					<h4>Product</h4>
					<div class="detailCamp">{{selectedProductName}}</div>
				</div>
				<div class="col-md-3 cc-bor">
					<h4>Conversation Objective</h4>
					<div class="detailCamp">{{selectedConversationValue}}</div>
				</div>
				<div class="col-md-3 cc-bor">
					<h4>Conversation Type</h4>
					<div class="detailCamp">{{selectedConversationTypeValue}}</div>
				</div>
				<div class="col-md-3 cc-bor">
					<h4>Conversation Period</h4>
					<div class="detailCamp">{{start_dateDet}} - {{end_dateDet}}</div>
				</div>
			</div>
		</div>
			<!--<div ng-show="adminSetting == 'product'">
				<div class="col-sm-12 intro-content">
					<h3>Product</h3>
				</div>
				<div class="col-sm-3" ng-repeat="products in productTypeModel" ng-click="settEnable != '0'?selectproduct(products.name,$index):null">
					<div class="radio-holder" ng-class="{ 'seg-act': $index == selectedIndex,'cursorprop':settEnable == '0' }" >{{products.name}}</div>
				</div>
				<div class="col-sm-12 intro-content">
					<h3>Conversation Objective</h3>
				</div>
				<div class="col-sm-3" ng-repeat="conversationObj in conversationObjModel" ng-class="{'objective-not-select':conversationObj.disable==false}">
					<div class="radio-holder"  ng-click="settEnable != '0'? conversationObj.disable==true || conversationType(conversationObj.name,$index):null" ng-class="{'radio-disable':conversationObj.disable==true,'seg-act': $index == selectedCon1Index,'cursorprop':settEnable == '0'}" >{{conversationObj.name}}</div>
				</div>
			</div>

			<div ng-show="adminSetting !='product'">
				<div class="col-sm-12 intro-content">
					<h3>Conversation Objective</h3>
				</div>
				<div class="col-sm-3" ng-repeat="conversationObj in conversationObjModel">
					<div class="radio-holder"  ng-click="settEnable != '0'?selectConversation(conversationObj.name,$index):null" ng-class="{ 'seg-act': $index == selectedConIndex,'cursorprop':settEnable == '0' }">{{conversationObj.name}}</div>
				</div>


				<div class="col-sm-12 intro-content">
					<h3>Product</h3>
				</div>
				<div class="col-sm-3" ng-repeat="products in productTypeModel" ng-class="{'product-not-select':products.disable==false}" ng-disabled="products.disable==true" ng-click="settEnable != '0'?products.disable==true || selectproductType(products.name,$index):null"><div class="radio-holder" ng-class="{ 'seg-act': $index == selectedProIndex,'radio-disable':products.disable==true,'cursorprop':settEnable == '0' }">{{products.name}}</div></div>
			</div>

			<div class="col-sm-12 intro-content">
				<h3>Conversation Type</h3>	
			</div>

			<div class="col-sm-3" ng-hide="selectCamTypeAtt == true">
				<div class="radio-holder radio-disable selectCamType">Select Campaign Type</div>
			</div>

			<div class="col-sm-3" ng-repeat="conversations in conversationTypeModel" ng-click="settEnable != '0'?conversarionTypeSelect(conversations.campaigntype,$index):null"  ng-hide="selectCamTypeAtt==false">
				<div class="radio-holder" ng-class="{'seg-act': $index == selectedConTypeIndex,'cursorprop':settEnable == '0'}">{{conversations.campaigntype}}</div>
			</div>
			<div class="col-sm-12 intro-content">
				<h3>Conversation Goal</h3>	
			</div>
			<div class="col-sm-3" ng-repeat="goal in goals">
				<label class="chkbox-holder {{goal.goalName}}" for="{{goal.goalName}}" ng-class="{'chck-active':goal.setChannelAct==true,'cursorprop':settEnable == '0'}">
				<input type="checkbox" class="channelclass" name="{{goal.goalName}}" id="{{goal.goalName}}" ng-disabled="settEnable == '0'" ng-model="goal.setChannelAct">
				<label for="{{goal.goalName}}"></label>{{goalsArr[$index]}}</label>
			</div>-->

			<div ng-show="settEnable != '0'">
				<div class="col-sm-12 intro-content">
					<h3>Channels</h3>
				</div>

				<div class="col-sm-2">
					<label class="channel-check cbox dis" for="" ng-click="camp_channels.mail = !camp_channels.mail" ng-class="camp_class.mail">
					<span class="icons mail"></span><br>Email<br><input id="email" class="cbox" type="checkbox" ng-model="camp_channels.mail"><label for=""></label>
					</label>
				</div>
				
				<div class="col-sm-2">
					<label class="channel-check cbox dis" for="" ng-click="camp_channels.sms = !camp_channels.sms" ng-class="camp_class.sms">
					<span class="icons sms"></span><br>SMS<br><input id="sms" class="cbox" type="checkbox" ng-model="camp_channels.sms"><label for=""></label>
					</label>
				</div>
				
				<div class="col-sm-2">
					<label class="channel-check cbox dis" for="" ng-click="camp_channels.push = !camp_channels.push" ng-class="camp_class.push">
					<span class="icons push"></span><br>Push Notification<br><input id="pn" class="cbox" type="checkbox" ng-model="camp_channels.push"><label for=""></label>
					</label>
				</div>
				
				
				<div class="col-sm-2">
					<label class="channel-check cbox dis" for="" ng-click="camp_channels.voice = !camp_channels.voice"  ng-class="camp_class.voice">
					<span class="icons voice"></span><br>Voice<br><input id="voice" class="cbox" type="checkbox" ng-model="camp_channels.voice">
					<label for=""></label>
					</label>
				</div>
				
				<div class="col-sm-2">
					<label class="channel-check cbox dis" for="direct" ng-click="camp_channels.direct = !camp_channels.direct"  ng-class="camp_class.direct">
					<span class="icons direct"></span><br>Direct Mail<br>
					<input id="direct" class="cbox" type="checkbox" ng-model="camp_channels.direct">
					<label for="direct"></label>
					</label>
				</div>
				
				<div class="col-sm-2">
					<label class="channel-check channelall" for="" ng-click="changeAllChannel();" ng-class="{'chck-active':allChannel == true}">
					<span class="icons alll"></span><br>			
					All<br>
					<input id="all" class="cbox" type="checkbox" ng-model="allChannel">
					<label for=""></label>
					</label>
				</div>

				<!--<div class="col-sm-6">
					<h3>Conversation Period</h3>
					<div class="row">
					
						<div class="col-sm-4">		
							<div id="conversionStartDate"></div>
							<div class="{{start_date}}"></div>
						</div>
						<div class="col-sm-2 text-center"><h3>&nbsp;</h3><p>to</p></div>
						<div class="col-sm-4">
							<div id="conversionEndDate"></div>
							<div class="{{end_date}}"></div>
						</div>
					
					</div>		
				</div>
				
				<div class="col-sm-6">
				
				</div>-->
			</div>

	</div>
	

	<div ng-show="settEnable == '0'">
		<div class="row form-inline">
			<div class="col-sm-12">
				<h3>Channels</h3>
			</div>
			<div class="col-sm-2">
				<label class="channel-check box cursorprop" for="email1" ng-class="camp_class.mail" ng-disabled="true">
				<span class="icons mail"></span><br>
				<input type="checkbox"  class="cbox"  id="email1" ng-disabled="true" ng-checked="camp_class.mail">
				<label for="email1"></label><br>
				Email
				</label>
			</div>
			<div class="col-sm-2">
				<label class="channel-check box cursorprop" for="sms1" ng-class="camp_class.sms" ng-disabled="true">
				<span class="icons sms"></span><br>
				<input type="checkbox" class="cbox"  id="sms1" ng-disabled="true" ng-checked="camp_class.sms">
				<label for="sms1"></label><br>
				SMS
				</label>
			</div>
			<div class="col-sm-2">
				<label class="channel-check box cursorprop" for="push1" ng-class="camp_class.push" ng-disabled="true">
				<span class="icons push"></span><br>
				<input type="checkbox" class="cbox"  id="push1" ng-disabled="true" ng-checked="camp_class.push">
				<label for="push1"></label><br>
				Push Notification
				</label>
			</div>
			<div class="col-sm-2">
				<label class="channel-check box cursorprop" for="voice1" ng-class="camp_class.voice" ng-disabled="true">
				<span class="icons voice"></span><br>
				<input type="checkbox"  class="cbox" id="voice1" ng-disabled="true" ng-checked="camp_class.voice">
				<label for="voice1"></label><br>
				Voice
				</label>
			</div>
			<div class="col-sm-2">
				<label class="channel-check box cursorprop" for="direct1" ng-class="camp_class.direct"  ng-disabled="true">
				<span class="icons direct"></span><br>
				<input type="checkbox"  class="cbox"  id="direct1" ng-disabled="true" ng-checked="camp_class.direct">
				<label for="direct1"></label><br>
				Direct Mail
				</label>
			</div>
			<div class="col-sm-2">
				<label class="channel-check channelall cursorprop" for="all1" ng-class="{'chck-active':allChannel == true}">
				<span class="icons alll"></span><br>
				<input type="checkbox" id="all1" ng-disabled="true" ng-checked="allChannel == true">
				<label for=""></label><br>
				All
				</label>
			</div>
			
			<div class="col-sm-12">
				<h3>Period</h3>
			</div>

		<div class="form-inline">
			<div class="col-sm-3">
				<div class="form-group">
				<p class="text-left date-align">Start Date</p>
					<div class='input-group date'>					
						<input type='text' class="form-control" ng-disabled="true" ng-model="start_date" />
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
	
			<div class="col-sm-3">
				<div class="form-group">
				<p class="text-left date-align">End Date</p>
					<div class='input-group date'>
						<input type='text' class="form-control" ng-disabled="true" ng-model="end_date" />
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
		<!--div class="col-sm-3">
		<label class="chkbox-holder" for="web"><input type="checkbox" ng-disabled="true" class="cbox" id="web"><label for="web"></label>Web</label>
		</div>
		<div class="col-sm-3">
			<label class="chkbox-holder" for="atm"><input type="checkbox" ng-disabled="true" class="cbox" id="atm"><label for="atm"></label>ATM</label>
		</div>
		<div class="col-sm-3">
			<label class="chkbox-holder" for="social"><input type="checkbox" ng-disabled="true" class="cbox" id="social"><label for="social"></label>Social Media</label>
		</div
	</div>

	<div class="row form-inline">
		<!-- <div class="col-sm-12"><h3>Camp Level Cap</h3></div>
		<div class="col-sm-3">
			<label class="chkbox-holder chkbx" for="frmonths1"><input type="checkbox" class="cbox" id="frmonths1" ng-model="camp_level.opt1" /><label for="frmonths1"></label>4 per Month per Bank
			</label>
		</div>

		<div class="col-sm-3">
			<label class="chkbox-holder chkbx" for="frmonths2"><input type="checkbox" class="cbox" id="frmonths2" ng-model="camp_level.opt2" /><label for="frmonths2"></label>4 per Month per Corporate
			</label>
		</div>

		<div class="col-sm-3">
			<label class="chkbox-holder chkbx" for="frmonths3"><input type="checkbox" class="cbox" id="frmonths3" ng-model="camp_level.opt3" /><label for="frmonths3"></label>Raise exception</label>
		</div> -->
		<div class="row">
		<div class="col-sm-12">
			<h3>Frequency Cap</h3>
			<div>
				<div class="btn-group fg">
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap1" ng-value="1" ng-click="frequencySelection(1)" /> <label class="checkbox prior" for="freq_cap1">1</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap2" ng-value="2" ng-click="frequencySelection(2)" /><label class="checkbox prior" for="freq_cap2">2</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap3" ng-value="3" ng-click="frequencySelection(3)" /><label class="checkbox prior" for="freq_cap3">3</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap4" ng-value="4" ng-click="frequencySelection(4)" /><label class="checkbox prior" for="freq_cap4">4</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap5" ng-value="5" ng-click="frequencySelection(5)" /><label class="checkbox prior" for="freq_cap5">5</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap6" ng-value="6" ng-click="frequencySelection(6)" /><label class="checkbox prior" for="freq_cap6">6</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap7" ng-value="7" ng-click="frequencySelection(7)" /><label class="checkbox prior" for="freq_cap7">7</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap8" ng-value="8" ng-click="frequencySelection(8)" /><label class="checkbox prior" for="freq_cap8">8</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap9" ng-value="9" ng-click="frequencySelection(9)" /><label class="checkbox prior" for="freq_cap9">9</label>
					<input type="radio" name="option2" ng-model="$parent.freq_cap" id="freq_cap10" ng-value="10" ng-click="frequencySelection(10)" /><label class="checkbox prior" for="freq_cap10">10</label>
				</div>
				
				<span class="cap-level">(Corporate Level Cap:4/Month; Conversation Level Cap:4/Month) <label style="display:inline" class="chkbox-holder bg-trans chkbx" for="Raise"><input type="checkbox"  id="Raise" class="cbox" ng-click="moreCampaign()"><label for="Raise" ></label>Raise Exception</label> </span>
			</div>
			<div>
				<!--<input type="radio" ng-repeat="x in frequency" ng-model="$parent.freq" ng-value="x" id="x" />{{x}}-->
				
			</div>
			
		</div>
		</div>
	</div>
	<div class="row">
<!-- 		<div class="col-sm-2">
			<p>Campaign Schedule</p>
			<p>Channel Solution Priority</p>
		</div> -->
		<div class="col-sm-12">
			<!--div class="date-holder">
			<table>
				<tr>
					<td ng-repeat="x in camp_days track by $index" >{{x}}</td>
				</tr>
				<tr>
					<td ng-repeat="x in camp_date track by $index" >
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary prior" ng-click="showDetails = ! showDetails;incr()" id="scrollr">
								<input type="checkbox"  autocomplete="off" ng-model="selection.ids[$index]"> {{x}}
							</label>
						</div><br/>

						<ul class="draggablePanelList ui-sortable"" ng-show="showDetails"  name="{{'value'+($index+1)}}">
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">P</div></li>
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">V</div></li>
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">W</div></li>
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">A</div></li>
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">S</div></li>
							<li class="pnl"><div class="pnl-hd ui-sortable-handle">E</div></li>
						</ul>
					</td>
				</tr>
				
				
			</table>
			<pre ng-bind="selection.ids | json"></pre>
		</div-->
			<p class="holder-head">Conversation Schedule</p>
			<div class="date-holder">
				<form id="testForm">
				<table class="ds-table">
					<tr>
						<td></td>
						<td ng-repeat="values in dates">
							<span id="dte_head{{values.id}}s"  ng-class="{'brandsub':values.selected==true}" >{{values.name}}</span>
							<div id="dte_head{{values.id}}" >

							<input type="checkbox" ng-class="{'selecteddate':values.selected==true}" ng-model="selection.ids[values.date]" name="group" id="{{values.date}}"  ng-click="showDetails = ! showDetails;values.selected = ! values.selected;incr(values.id);"
									ng-disabled="dateFlag&&!selection.ids[values.date]"/>
									<label class="checkbox prior " ng-disabled="dateFlag&&!selection.ids[values.date]" for="{{values.date}}" ng-click="clicktest(values.date)" >{{values.id}}<br/></label>
							</div>
							<ul ui-sortable="sortableOptions"  ng-show="values.selected" ng-model="values.channels" class="list draggablePanelList">
									<li ng-repeat="col in values.channels track by col.id"><input id="{{col.id}}" type="checkbox" ng-class="{ 'selectedChannel':col.selected==true}"/><label for="{{col.id}}" class="pointer checkbox prior icons {{col.icon}}" ng-class="{'unsortable': col.key == '1p'}" title="{{col.title}}" ng-click="col.selected = !col.selected">{{key}}</label>

									</li>
								</ul>
						</td>
					</tr>
					<div ng-repeat="x in dates.selected | filter:{selected:true}">
						<input ng-model="x.id"/>{{x.name}}
					</div>

					<!--tr>
						<td>
							<div>
								<div ui-sortable ng-model="rows">
									<td ng-repeat="row in rows track by row.id" class="row  connector" ui-sortable="sortOptions" ng-model="row.channels">
										<ul ng-show="isShowing(parentIndex)" ng-click="showDetails" class="draggablePanelList ui-sortable" ng-repeat="col in row.channels track by col.id" class="col-3">
											<li class="pnl-hd ui-sortable-handle"><label for="ch_push"><input id="ch_push" type="checkbox"/>{{col.key}}</label></li>
										</ul>
									</td>
								</div>
							</div>
						</td>
					</tr-->
				</table>
				</form>
				</div>
				
				<div class="font10 infoicon">
					<span class="icons cmail"></span>Email<span class="icons cpush"></span>Push Notification<span class="icons csms"></span>SMS<span class="icons cvoice"></span> Voice<span class="icons cdirect"></span>Direct Mail
				</div>
				<div class="font10">
					Click to select channel. Click again to deselect. Click in order of priority. Day columns indicates response rate.
				</div>
			</div>
			<!--<div class="col-sm-12">
				
				<div>
					<label class="chkbox-holder bg-trans chkbx" for="limit1" ng-model="test_mdl"><input type="checkbox"  id="limit1" class="cbox" disabled><label for="limit1" ></label>Automatically
					limit exposure if customer is exposed to messaging onboard channel driving campaign period.</label>
				</div>
			</div>
			<div class="col-sm-12">
				<label class="chkbox-holder bg-trans chkbx" for="autoselect_ds"><input type="checkbox" class="cbox" id="autoselect_ds" disabled><label for="autoselect_ds"></label>Auto
				select scheduling, channel priority and days/day passed to having response based on past campaign performance(will be
				enabled after statistically significant sample is made)
				</label>
			</div>-->
		</div>
	 		<p></p>
	<p class="text-center"><a href="javascript:void(0)" class="btn btn-default" ng-click="validationClick()" alt="Next" title="Next">Next</a></p>
	</div>
	</div>

	 <div id="commonAlert" class="modal fade modal in" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content md-bg">
                <div class="modal-body">
                    <div class="modal-holder">
                        <h4 class="text-center">{{commonAlertText}}</h4>
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default" data-dismiss="modal" alt="Ok" title="Ok">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>	
	<div id="commonAlertup" class="modal fade modal in" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content md-bg sdfsdf">
                <div class="modal-body">
                    <div class="modal-holder">
                        <h4 class="text-center">{{commonAlertText}}</h4>
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default" data-dismiss="modal" alt="Ok" id="okthen" title="Ok">Ok</button>
                            <button class="btn btn-default" data-dismiss="modal" alt="Cancel" id="cancelthen" title="Cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>	
		<div id="commonAlertupper" class="modal fade modal in" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content md-bg sdfsdf">
                <div class="modal-body">
                    <div class="modal-holder">
                        <h4 class="text-center">{{commonAlertTexter}}</h4>
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default" data-dismiss="modal" alt="Ok" title="Ok">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>	
	<script>


$( document ).ready(function() {
	$("#loginDiv").parent().parent().css( "background-color", "#e6e6e6" );
	$("body").removeClass( "body-bg" );
	$('[data-toggle="tooltip"]').tooltip();  
});
		</script>
